div {
    display: inline;
	float: left;
    padding-top: 5px;
    padding-right: 20px;
}

progress {
	height: 15px;
	border: 0px none;
	background-color: grey;
	color: red;
	float: left;
}

progress::-webkit-progress-bar {  
	background-color: grey;
}  
progress::-webkit-progress-value {
	background-color: red;
}  

progress::-moz-progress-bar {  
	background-color: red;
}  

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}